@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 263.3898305084746 27.659557889955188% 4.351857729312033%;
    --foreground: 0 0% 100%;
    --card: 263.3898305084746 42.68725634021644% 9.032969026919456%;
    --card-foreground: 0 0% 100%;
    --popover: 240 3% 10%;
    --popover-foreground: 0 0% 100%;
    --primary: 263.3898305084746 69.96047430830039% 50.3921568627451%;
    --primary-foreground: 240 0% 100%;
    --secondary: 240 0% 100%;
    --secondary-foreground: 263.3898305084746 38.24877015635679%
      7.876320348680022%;
    --muted: 240 3% 20%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3% 20%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 3% 20%;
    --input: 240 3% 20%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 59%;
    --chart-3: 197 37% 54%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
