@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 42.85714285714286 100% 50.58823529411765%;
    --foreground: 200 94.52054794520548% 14.313725490196079%;
    --card: 42.85714285714286 100% 50.58823529411765%;
    --card-foreground: 200 94.52054794520548% 14.313725490196079%;
    --popover: 42.85714285714286 100% 50.58823529411765%;
    --popover-foreground: 200 94.52054794520548% 14.313725490196079%;
    --primary: 42.85714285714286 100% 50.58823529411765%;
    --primary-foreground: 200 94.52054794520548% 14.313725490196079%;
    --secondary: 42.85714285714286 100% 50.58823529411765%;
    --secondary-foreground: 200 94.52054794520548% 14.313725490196079%;
    --muted: 42.85714285714286 100% 50.58823529411765%;
    --muted-foreground: 200 94.52054794520548% 14.313725490196079%;
    --accent: 42.85714285714286 100% 50.58823529411765%;
    --accent-foreground: 200 94.52054794520548% 14.313725490196079%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 200 94.52054794520548% 14.313725490196079%;
    --input: 200 94.52054794520548% 14.313725490196079%;
    --ring: 200 94.52054794520548% 14.313725490196079%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 59%;
    --chart-3: 197 37% 54%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
